table{
    border-collapse: collapse;
  	margin: auto;
  	margin-top: 20px;
  	margin-bottom: 20px;
  }

  table, th, td {
    border: 1px solid black;
  	text-align: center;
  	padding : 5px 10px 10px 5px;
  }
